name: CI
on: [push, pull_request]
env:
  go-version: "1.22.x"
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    container:
      image: node:20
    strategy:
      matrix:
        searchdb-host: [elastic7, elastic8, opensearch1, opensearch2]
      fail-fast: false
    
    services:
      postgres:
        image: postgres:14-alpine
        env:
          POSTGRES_DB: indexer_test
          POSTGRES_USER: indexer_test
          POSTGRES_PASSWORD: temba
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      elastic7:
        image: elasticsearch:7.17.9
        env:
          discovery.type: single-node
        options: --ulimit memlock=-1:-1 --ulimit nofile=65536:65536
      elastic8:
        image: elasticsearch:8.13.4
        env:
          discovery.type: single-node
          xpack.security.enabled: false
        options: --ulimit memlock=-1:-1 --ulimit nofile=65536:65536
      opensearch1:
        image: opensearchproject/opensearch:1.3.16
        env:
          discovery.type: single-node
          plugins.security.disabled: true
          OPENSEARCH_JAVA_OPTS: -Xms512m -Xmx512m
          DISABLE_INSTALL_DEMO_CONFIG: true
        options: --ulimit memlock=-1:-1 --ulimit nofile=65536:65536
      opensearch2:
        image: opensearchproject/opensearch:2.13.0
        env:
          discovery.type: single-node
          plugins.security.disabled: true
          OPENSEARCH_JAVA_OPTS: -Xms512m -Xmx512m
          DISABLE_INSTALL_DEMO_CONFIG: true
          OPENSEARCH_INITIAL_ADMIN_PASSWORD: temba
        options: --ulimit memlock=-1:-1 --ulimit nofile=65536:65536

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.go-version }}

      - name: Setup environment
        run: |
          echo "INDEXER_DB=postgres://indexer_test:temba@postgres:5432/indexer_test?sslmode=disable" >> "$GITHUB_ENV"
          echo "INDEXER_ELASTIC_URL=http://${{ matrix.searchdb-host }}:9200" >> "$GITHUB_ENV"

      - name: Run tests
        run: go test -p=1 -coverprofile=coverage.text -covermode=atomic ./...

      - name: Upload coverage
        if: success()
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

  release:
    name: Release
    needs: [test]
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.go-version }}

      - name: Publish release
        uses: goreleaser/goreleaser-action@v4
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
